<div class="leftSide">
    <ul class="leftSideMenu">
        <li><a href="/dashboard" target="_self">My Instances</a></li>
        <li><a href="/createInstance" target="_self">Create Instances</a></li>
        <li><a href="/serverDetail" target="_self">Instance Details</a></li>
    </ul>
</div>
