<!DOCTYPE html>
<html ng-app="pkcloudApp">
<head>
    <meta charset="UTF-8">
    <title>CMPE 283 Demo Project</title>
    <link rel="stylesheet" type="text/css" href="../css/main_dashboard.css">
</head>
<body>
<!-- Wrap Begin -->
<div class="wrap" ng-controller="pkcloudAppController">
    {{{body}}}
</div>

<script src="../js/lib/jquery.js"></script>
<script src="../js/lib/angular.js"></script>
<script src="../js/controllers.js"></script>
<!-- Wrap End -->
</body>
</html>
