<!DOCTYPE html>
<html ng-app="pkcloudApp">
<head>
    <meta charset="UTF-8">
    <title>CMPE 283 Demo Project</title>
    <link rel="stylesheet" type="text/css" href="../css/main_dashboard.css">
</head>
<body>
<!-- Wrap Begin -->
<div class="wrap" ng-controller="pkcloudAppController">
    <!-- Top Side Begin -->
    <div class="topSide">
        <h1>CMPE 283 Demo Project</h1>
        <ul>
            <li><img src="../img/userIco.png" alt="userIco.png" /></li>
            <li><span id="userNameShow" >User Name</span></li>
            <li> | </li>
            <li id="signOut"><a href="index.html" target="_self">Sign Out</a> </li>
        </ul>
    </div>
    <!-- Top Side End -->
    <!-- Left Side Begin -->
    {{> leftrail }}
    <!-- Left Side End -->
    <!-- Right Side Begin -->
    <div class="rightSide">
        <div class="pageTitlePosition">
            <div class="contentPosition">
                {{{body}}}
            </div>
        </div>
    </div>
    <!--Right Side End-->
    <div class="clear"></div>
    <input type="hidden" name="_csrf" value="{{_csrf}}" />
</div>

<script src="../js/lib/jquery.js"></script>
<script src="../js/lib/angular.js"></script>
<script src="../js/controllers.js"></script>
<!-- Wrap End -->
</body>
</html>
