<link rel="stylesheet" type="text/css" href="../css/create_instances.css">
<h2>Create Instances: </h2>
<div class="contentPosition">
    <ul>
        <li>
            <form id="createform" ng-submit="createServer()">
                <ul>
                    <li><span>Instance Name</span><input ng-model="formCreate.name" id="instanceName" type="text" required /></li>
                    <li>
                        <input ng-model="formCreate.size" id="small-website" type="radio" name="site" value="small" checked>
                        <label for="small-website">
                            <p>Small Website</p>
                            <p>vCPU: 1</p>
                            <p>RAM: 2048</p>
                            <p>Disk Size: 20GB</p>
                        </label>
                    </li>
                    <li>
                        <input ng-model="formCreate.size" type="radio" name="site" value="large">
                        <label for="small-website">
                            <p>Large Website</p>
                            <p>vCPU: 8</p>
                            <p>RAM: 16384</p>
                            <p>Disk Size: 160GB</p>
                        </label>
                    </li>
                    <li><button id="createButton" type="Submit">Create Instance</button></li>
                </ul>
            </form>
        </li>
    </ul>
</div>
{{> authDataObj }}
