<link href='https://fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="../css/index.css">
<!-- Wrap Begin -->
<div class="wrap">
    <div class="topSide">
        <h1>CMPE 283 OpenStack Demo </h1>
        <h7 style="font-size:18px;color:green;display:inherit;float: left;position: inherit;margin-top: 55px;margin-left: 55px;">by Group 5</h7>
    </div>
    <div id="centerBoxPosition">
        <div id="centerBox">
            <div id="content">
                <form class="signin inputBox" ng-submit="processSignin()">
                    <ul>
                        <li><span>Username:</span><input id="username" name="username" type="text" ng-model="formSigninData.name" /></li>
                        <li><span>Password:</span><input id="password" name="password" type="password" ng-model="formSigninData.password"/></li>
                        <li><button id="submit" type="submit">Login</button><button id="signUp" type="button" onclick="window.location.href='signUp.html'">Sign Up</button> </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>

    <!--Login Form Begin-->

    <!--Login Form End-->


</div>
<!-- Wrap End -->