@charset "utf-8";
/* Index Style CSS Document */
/* Basic Style */
html, body
{
    margin: 0;
    padding: 0;
    height:100%;
    width:100%;
    min-width: 1260px;
    font-family: 'Ropa Sans', sans-serif;
    background-color: #f4f4f4;
    overflow-x: hidden;
}
ol,ul{
    list-style:none;
}
a{
    color: inherit;
    text-decoration: none;
}
.clear {
    both: clear;
}
.wrap {
    margin: auto;
    width: 100%;
    height: 100%;
}
.hidden {
    display: none;
}
/* Top Side Begin */
.topSide{
    position: fixed;
    top:0;
    height: 70px;
    width: 100%;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #d9d9d9;
    background-color:  #f4f4f4;
    overflow: hidden;
    z-index: 999;
}
h1{
    margin-left: 50px;
    float:left;
    letter-spacing: 2px;
    font-size: 35px;
    color: #969696;
}
.topSide img{
    height:15px;
    width: 15px;
    opacity: 0.5;
}
.topSide ul{
    margin-top: 40px;
    margin-right: 50px;
    float: right;
}
.topSide li{
    margin-left: 10px;
    float:left;
    color: #969696;
    font-size: 15px;
}
#userNameShow{
    font-style: italic;
}
/* Top Side End */
/* Position Set Begin */
.leftSide{
    position: fixed;
    top: 70px;
    left: 0;
    height: 100%;
    width: 200px;
    border-width: 0px 1px 0px 0px;
    border-style: solid;
    border-color: #d9d9d9;

}
.rightSide{
    position: absolute;
    float: left;
    margin-top: 70px;
    margin-right: 0;
    margin-left: 200px;
    height:100%;
    width: 100%;
}
/* Position Set End */
/* Left Side Menu Begin */
ul{
    padding:0;
    margin:0;
}
.leftSideMenu li{
    padding-left: 20px;
    width: 180px;
    height: 50px;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #d9d9d9;
    color: #969696;
    line-height: 50px;
    font-size:20px;
    cursor: pointer;
}
/* Left Side Menu End */
/* Right Side Begin */
.pageTitlePosition h2 {
    height: 50px;
    width: 100%;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #d9d9d9;
    line-height: 50px;
    padding:0;
    font-size: 20px;
    font-style: italic;
    letter-spacing: 2px;
    color: #969696;
}
.pageTitlePosition h3 {
    color: #444;
    display: inline-block;
    margin: 10px 5px;
}
.pageTitlePosition ul {
    width: 95%;
    display: block;
    margin: 10px;
}
.pageTitlePosition ul.system-limits li {
    line-height: 25px;
    font-size: 15px;
    width: 18%;
    display: inline-block;
}

.contentPosition{
    position: relative;
    margin-left: 20px;
    height:auto;
    width: 90%;
}
/* Right Side End */
/*Animation*/
.leftSideMenu li:hover{
    color: white;
    background-color:  #d9d9d9;
}

table {
    width: 80%;
    border: 1px solid #ccc;
    text-align: left;
    margin: 5px;
}
table.openstack-images {
    width: 90%;
}
table tr {
    border-bottom: 1px solid #ccc;
    line-height: 28px;
    background: #ddd;
}
table tr:nth-child(odd) {
    background: #fff;
}
table tr th {
    background: #CDE7F0;
}
table tr th,
table tr td {
    padding: 5px;
}
.pageTitlePosition a {
    color: #3333FF;
    text-decoration: underline;
    cursor: pointer;
}
hr {
    width: 90%;
    margin: 10px 0;
    border-top: 2px solid #ccc;
}

form.createImage input {
    padding: 5px;
    line-height: 30px;
    height: 30px;
    width: 200px;
    border: 1px solid #ccc;
}

form.createImage button {
    height: 40px;
    color: #fff;
    line-height: 40px;
    text-align: center;
    background: #D1D1FF;
    border: none;
    font-size: 16px;
    font-weight: bold;
    vertical-align: middle
}
