.contentPosition{
    padding-bottom: 50px;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}
.contentPosition ul{
    color: #969696;
    font-size:20px;
}
.contentPosition span{
    margin-right:10px;
}

#resetpwdShow{

    height: 30px;
    width:200px;
    color: white;
    font-family: 'Ropa Sans', sans-serif;
    font-size:20px;
    background-color: dodgerblue;
    line-height: 20px;
    text-align: center;
    border: solid 1px;
    border-color: dodgerblue;
    border-radius: 5px;
    cursor:pointer;
}
#resetpwd{
    width:350px;
}
select{
    float:right;
    width: 300px;
    height: 30px;
    border-style: solid;
    border-width: 1px;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 20px;
    color: #969696;
}
input{
    float:right;
    width: 200px;
    height: 30px;
    border-style: none;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 20px;
}

#resetpwdButton{
    height: 30px;
    width:200px;
    color: white;
    font-family: 'Ropa Sans', sans-serif;
    font-size:20px;
    background-color: lightgreen;
    line-height: 20px;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor:pointer;
}
/*Animation*/
button:hover{
    opacity: 0.7;
}